body{
  font-family:Arial;
  background:#f0f4f8;
  text-align:center;
}

.calendar-header{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-bottom:10px;
}

.nav-btn{
  padding:8px 14px;
  border:none;
  border-radius:8px;
  background:#3498db;
  color:white;
  cursor:pointer;
}

#weekdayHeader,
#calendar{
  display:grid;
  grid-template-columns:repeat(7,60px);
  justify-content:center;
}

#weekdayHeader div,
#calendar div{
  width:60px;
  height:60px;
  display:flex;
  justify-content:center;
  align-items:center;
}

#calendar span{
  width:45px;
  height:45px;
  border-radius:50%;
  border:1px solid #ccc;
  display:flex;
  justify-content:center;
  align-items:center;
  background:white;
  cursor:pointer;
}

textarea{
  width:300px;
  height:150px;
  margin-top:10px;
}

.wordItem{
  cursor:pointer;
  padding:5px;
}

.wordItem:hover{
  background:#ddd;
}
