body{
font-family:sans-serif;
background:#f4f6fb;
margin:0;
color:#444;
}

header{
text-align:center;
padding:20px;
background:#dbeafe;
}

.screen{
display:none;
padding:30px;
max-width:700px;
margin:auto;
}

.active{display:block;}

.calendarHeader{
display:flex;
justify-content:center;
align-items:center;
gap:20px;
}

#calendar{
display:grid;
grid-template-columns:repeat(7,1fr);
gap:12px;
margin-top:20px;
}

.day{
width:60px;
height:60px;
border-radius:50%;
background:white;
display:flex;
align-items:center;
justify-content:center;
cursor:pointer;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.day.green{
background:#bbf7d0;
}

.day.happy{background:#fde68a;}
.day.sad{background:#bfdbfe;}
.day.excited{background:#fbcfe8;}
.day.tired{background:#ddd6fe;}
.day.angry{background:#fecaca;}
.day.calm{background:#d1fae5;}

textarea{
width:100%;
height:200px;
border-radius:12px;
padding:15px;
border:1px solid #ddd;
}

button{
background:#c7d2fe;
border:none;
padding:10px 20px;
border-radius:10px;
cursor:pointer;
}

#wordList h3{
margin-top:20px;
}

.word{
display:block;
margin-left:20px;
cursor:pointer;
}
